* {
  --accent-color: #36526f;
  --link-color: #396eff;
  --menu-text-color: #789eb7;
}

body {
  margin: 1rem;
}

h1 {
  text-align: center;
  color: #ff1b1b;
  margin: 1.4rem 0;
}

h2 {
  background-color: #2b5680;
  margin: 0;
  padding: 0.2rem 0.5rem;
}

h3,
h4 {
  text-align: center;
  margin: 0;
}

#sidebar {
  position: fixed;
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
}

#main-nav {
  border-right: 0.5px solid var(--accent-color);
  background-color: #242628;
  box-shadow: 1px;
}

nav div {
  border-bottom: 2px solid var(--link-color);
}

nav p {
  text-align: center;
}

nav a {
  padding-left: 2rem;
}

nav img {
  margin: 0 auto;
  padding-bottom: 2rem;
}

nav li {
  padding: 0;
  margin: 0;
}

nav p,
nav aside {
  color: var(--menu-text-color);
}

main :first-child h1 {
  margin-top: 0;
}
/* 
section {
  border: 1px dotted white;
} */
