*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  border: none;

  --accent-color: #36526f;
  --link-color: #396eff;
  --menu-text-color: #789eb7;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

body {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 3.2rem;
  color: #ff1b1b;
}

h2 {
  font-size: 3rem;
  background-color: #2b5680;
  width: 100%;
  padding: 0.2rem 1rem;
}

h3 {
  font-size: 2.6;
}

h4 {
  font-size: 2.2;
}

p,
a {
  font-size: 1.2rem;
}

h1,
h3,
h4 {
  text-align: center;
  margin: 0;
  padding: 0;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
  color: var(--link-color);
}

img {
  display: block;
  max-width: 100%;
}

:focus:not(:focus-visible) {
  outline: none;
}
