*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  --fs-1: clamp(2.8rem, 3vw + 1rem, 3.8rem);
  --fs-2: clamp(2.4rem, 3vw + 1rem, 3.4rem);
  --fs-3: clamp(2rem, 3vw + 1rem, 3rem);
  --fs-4: clamp(1.8rem, 3vw + 1rem, 2.8rem);

  border: none;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

body {
  font-size: 1.6rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: var(--fs-1);
}

h2 {
  font-size: var(--fs-2);
}

h3 {
  font-size: var(--fs-3);
}

h4,
h5,
h6 {
  font-size: var(--fs-4);
}

a {
  text-underline-position: under;
  text-decoration-thickness: 10;
  color: var(--link-color);
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

:focus:not(:focus-visible) {
  outline: none;
}
